aiohttp==3.6.2
asgiref==3.2.3
astroid==2.3.3
async-timeout==3.0.1
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coronavirus==1.1.0
dash==0.43.0
dash-core-components==0.48.0
dash-html-components==0.16.0
dash-renderer==0.24.0
dash-table==3.7.0
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.7
django-allauth==0.41.0
django-appconf==1.0.4
django-configurations==2.2
django-user-accounts==3.0.2
Flask==1.0.3
Flask-Compress==1.4.0
gunicorn==20.0.4
idna==2.8
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.4.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.6
nbformat==4.4.0
oauthlib==3.1.0
Pillow==7.0.0
plotly==3.9.0
pylint==2.4.4
pyrsistent==0.15.2
python3-openid==3.1.0
pytz==2019.1
psycopg2-binary==2.8.5
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.2
typed-ast==1.4.1
urllib3==1.25.3
Werkzeug==0.15.4
whitenoise==5.0.1
wrapt==1.11.2
yarl==1.4.2
