.news_posts {
  padding-top: 100px;
}

.flex {

}

.overFlow {
  width:340px;
  height:196px;
  overflow: hidden;
}

.offsetBlock {
  padding-top: 100px;
}

.headLinetitle {
  padding-bottom: 25px;
}
.offsetBootom {
  margin-bottom: 30px;
}

.img_good {

}
.img_good a img {

}

.likePost {
  cursor: pointer;
}
